In [1]:
# Dependencies and Setup
import csv
import pandas as pd
import os
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import linregress 
import seaborn as sns 
from scipy import stats

# Study data files
UE_data_path = "../Data/Unemployment_rates_states_5yrs_Clean.csv"

# Read the mouse data and the study results
UE_data_path = pd.read_csv(UE_data_path)
UE_data_path.head(20)

,State,1/1/2015,2/1/2015,3/1/2015,4/1/2015,5/1/2015,6/1/2015,7/1/2015,8/1/2015,9/1/2015,...,12/1/2019,1/1/2020,2/1/2020,3/1/2020,4/1/2020,5/1/2020,6/1/2020,7/1/2020,8/1/2020,9/20/2020
0,Alabama,6.0,6.0,6.1,6.1,6.2,6.2,6.2,6.1,6.1,...,2.7,2.7,2.7,3,13.8,9.6,7.6,7.9,5.6,6.6
1,Alaska,6.5,6.5,6.5,6.5,6.5,6.5,6.5,6.5,6.5,...,6.1,6.0,5.8,5.2,13.5,12.7,12.4,11.6,7.4,7.2
2,Arizona,6.4,6.3,6.3,6.2,6.1,6.1,6.0,6.0,5.9,...,4.5,4.5,4.5,6.1,13.4,9.0,10.0,10.7,5.9,6.7
3,Arkansas,5.6,5.5,5.5,5.4,5.3,5.1,5.0,4.8,4.7,...,3.5,3.5,3.5,5,10.8,9.6,8.1,7.1,7.4,7.3
4,California,6.8,6.7,6.6,6.5,6.4,6.2,6.1,6.0,5.9,...,3.9,3.9,3.9,5.5,16.4,16.4,14.9,13.5,11.2,11.0
5,Colorado,4.3,4.2,4.2,4.1,4.1,4.0,3.8,3.7,3.6,...,2.5,2.5,2.5,5.2,12.2,10.2,10.6,7.4,6.7,6.4
6,Connecticut,6.1,6.0,5.9,5.8,5.7,5.7,5.6,5.6,5.6,...,3.8,3.7,3.8,3.4,8.3,9.6,10.1,10.2,8.1,7.8
7,Delaware,5.1,5.0,5.0,4.9,4.9,4.9,4.8,4.8,4.8,...,4.0,4.0,3.9,5,14.9,15.9,12.6,10.5,8.9,8.2
8,District of Columbia,7.4,7.3,7.2,7.1,7.0,6.9,6.8,6.7,6.6,...,5.3,5.2,5.1,6,11.7,8.8,8.7,8.5,8.6,8.7
9,Florida,5.8,5.7,5.7,5.6,5.6,5.5,5.4,5.4,5.3,...,2.9,2.8,2.8,4.4,13.8,13.7,10.3,11.4,7.3,7.6
10,Georgia,6.4,6.3,6.3,6.2,6.1,6.0,5.9,5.9,5.8,...,3.1,3.1,3.1,4.6,12.6,9.4,7.6,7.6,5.7,6.4
11,Hawaii,4.0,3.9,3.9,3.8,3.7,3.6,3.5,3.4,3.4,...,2.7,2.7,2.7,2.4,23.8,23.5,13.4,13.5,13.0,15.1
12,Idaho,4.2,4.2,4.1,4.1,4.1,4.1,4.1,4.1,4.1,...,2.9,2.8,2.7,2.5,11.8,9.0,5.8,5.1,4.2,6.1
13,Illinois,6.0,6.0,6.0,6.0,6.0,5.9,5.9,5.9,5.9,...,3.7,3.5,3.4,4.2,17.2,15.3,14.5,11.5,11.0,10.2
14,Indiana,5.4,5.3,5.1,5.0,4.9,4.8,4.7,4.6,4.5,...,3.2,3.1,3.1,3,17.5,12.3,11.1,7.9,6.4,6.2
15,Iowa,3.9,3.9,3.8,3.8,3.8,3.7,3.7,3.7,3.7,...,2.8,2.8,2.8,3.3,11,10.2,8.4,6.8,6.3,4.7
16,Kansas,4.3,4.4,4.4,4.4,4.3,4.2,4.1,4.1,4.0,...,3.1,3.1,3.1,2.8,11.9,10.0,7.5,7.2,6.9,5.9
17,Kentucky,5.4,5.4,5.3,5.3,5.3,5.2,5.2,5.2,5.2,...,4.3,4.3,4.2,5.2,16.6,10.9,4.4,4.5,7.5,5.6
18,Louisiana,6.9,6.8,6.7,6.5,6.4,6.2,6.1,6.1,6.0,...,5.2,5.3,5.2,6.7,15.1,14.2,9.5,9.4,7.7,8.1
19,Maine,5.0,4.8,4.7,4.6,4.5,4.4,4.3,4.2,4.1,...,3.0,3.1,3.2,3,10.4,9.4,6.7,9.9,7.0,6.1

In [27]:
print ("data-frame shape: ", UE_data_path.shape)

data-frame shape:  (52, 70)

In [75]:
col = []
for x in UE_data_path.columns:
    if x != "State":
        col.append(x)

In [76]:
col

['1/1/2015',
 '2/1/2015',
 '3/1/2015',
 '4/1/2015',
 '5/1/2015',
 '6/1/2015',
 '7/1/2015',
 '8/1/2015',
 '9/1/2015',
 '10/1/2015',
 '11/1/2015',
 '12/1/2015',
 '1/1/2016',
 '2/1/2016',
 '3/1/2016',
 '4/1/2016',
 '5/1/2016',
 '6/1/2016',
 '7/1/2016',
 '8/1/2016',
 '9/1/2016',
 '10/1/2016',
 '11/1/2016',
 '12/1/2016',
 '1/1/2017',
 '2/1/2017',
 '3/1/2017',
 '4/1/2017',
 '5/1/2017',
 '6/1/2017',
 '7/1/2017',
 '8/1/2017',
 '9/1/2017',
 '10/1/2017',
 '11/1/2017',
 '12/1/2017',
 '1/1/2018',
 '2/1/2018',
 '3/1/2018',
 '4/1/2018',
 '5/1/2018',
 '6/1/2018',
 '7/1/2018',
 '8/1/2018',
 '9/1/2018',
 '10/1/2018',
 '11/1/2018',
 '12/1/2018',
 '1/1/2019',
 '2/1/2019',
 '3/1/2019',
 '4/1/2019',
 '5/1/2019',
 '6/1/2019',
 '7/1/2019',
 '8/1/2019',
 '9/1/2019',
 '10/1/2019',
 '11/1/2019',
 '12/1/2019',
 '1/1/2020',
 '2/1/2020',
 '3/1/2020',
 '4/1/2020',
 '5/1/2020',
 '6/1/2020',
 '7/1/2020',
 '8/1/2020',
 '9/20/2020']

In [77]:
d = []
for i, row in UE_data_path.iterrows():
    state = row["State"]
    for x in col:
        dat = x.split("/")
        a ={
            "State":state,
            "Date": f"{dat[0].rjust(2, '0')}-{dat[1].rjust(2, '0')}-{dat[2]}",
            "Year": dat[2],
            "Month": dat[0],
            "Unemployment Rate":row[x]
        }
        d.append(a)

In [79]:
new_df = pd.DataFrame(d)
new_df.head(20)

      State        Date  Year Month Unemployment Rate
0   Alabama  01-01-2015  2015     1                 6
1   Alabama  02-01-2015  2015     2                 6
2   Alabama  03-01-2015  2015     3               6.1
3   Alabama  04-01-2015  2015     4               6.1
4   Alabama  05-01-2015  2015     5               6.2
5   Alabama  06-01-2015  2015     6               6.2
6   Alabama  07-01-2015  2015     7               6.2
7   Alabama  08-01-2015  2015     8               6.1
8   Alabama  09-01-2015  2015     9               6.1
9   Alabama  10-01-2015  2015    10                 6
10  Alabama  11-01-2015  2015    11                 6
11  Alabama  12-01-2015  2015    12                 6
12  Alabama  01-01-2016  2016     1                 6
13  Alabama  02-01-2016  2016     2               5.9
14  Alabama  03-01-2016  2016     3               5.9
15  Alabama  04-01-2016  2016     4               5.8
16  Alabama  05-01-2016  2016     5               5.8
17  Alabama  06-01-2016  2016     6               5.8
18  Alabama  07-01-2016  2016     7               5.8
19  Alabama  08-01-2016  2016     8               5.8

In [80]:
new_df["Date"]

0       01-01-2015
1       02-01-2015
2       03-01-2015
3       04-01-2015
4       05-01-2015
           ...
3583    05-01-2020
3584    06-01-2020
3585    07-01-2020
3586    08-01-2020
3587    09-20-2020
Name: Date, Length: 3588, dtype: object

In [81]:
print ("column names: ", new_df.columns.values)

column names:  ['State' 'Date' 'Year' 'Month' 'Unemployment Rate']

In [82]:
print ("total null values: ", UE_data_path.isna().sum().sum())

total null values:  0